# Look up cellid in Layer 2/3 volume
Look up a cellid of interest and reveal in Neuroglancer  
Includes nucleus id for 456 cells containing a nuclei in the volume

In [1]:
import pandas as pd

In [2]:
# this is a dataframe consisting of a curated list of 619 cells with all or most of the cell body in the volume
# merged with an updated cell table containing 456 cells with an identifiable nucleus in the volume
# these files are available here: https://www.microns-explorer.org/phase1

In [3]:
# Note that the following vascular and enthelial cells have one cellid for multiple cells in the volume
# 50 cells sharing the same cellid of 648518346349526102: (1 OPC-pericyte type, 1 pericyte, 48 endothelial)
# 2 microglia cells sharing the same cellid of 648518346349536717
# 2 OPC cells sharing the same cellid of648518346349525545
# 2 astrocyte cells sharing the same cellid of 648518346349525715
# all other cells in this dataframe have one unique cellid per cell

In [4]:
celltypes = pd.read_csv("220309_cell_type_classification.csv", index_col=[0])

In [5]:
celltypes

,centroid_x,centroid_y,centroid_z,cell_segid,cell_type,cell_subtype
1,41760,60256,1702,648518346349538237,pyramidal,pyramidal cell
2,98128,39856,218,648518346349536816,pyramidal,pyramidal cell
3,51248,50608,86,648518346349539797,pyramidal,pyramidal cell
5,115392,47136,617,648518346349536744,pyramidal,pyramidal cell
6,104928,72496,1448,648518346349536851,pyramidal,pyramidal cell
...,...,...,...,...,...,...
68,107312,43552,2160,648518346349375478,vasculature,endothelial
69,104752,40768,878,648518346349061101,vasculature,endothelial
70,104464,40784,1867,648518346349375478,vasculature,endothelial
71,97377,38012,1145,648518346349375478,vasculature,endothelial
72,89216,38976,873,648518346349526102,vasculature,endothelial

In [6]:
nucids = pd.read_csv('230106_soma_valence_v185.csv', index_col=[0])
nucids = nucids.drop('cell_type', axis=1)
nucids.rename(columns={'pt_root_id':'cell_segid'}, inplace=True)
nucids

,id,pt_position,cell_segid,soma_x_nm,soma_y_nm,soma_z_nm,nuc_id
0,17,[103860 44385 891],648518346349540057,415440,177540,35640,4809
1,453,[84054 50604 1424],648518346349538466,336216,202416,56960,6097
2,35,[103728 54333 304],648518346349538711,414912,217332,12160,6582
3,74,[51543 57568 155],648518346349538715,206172,230272,6200,7498
4,231,[77197 61773 428],648518346349537038,308788,247092,17120,8610
...,...,...,...,...,...,...,...
451,298,[116314 58234 933],648518346349537961,465256,232936,37320,7570
452,444,[70253 54531 1752],648518346349538336,281012,218124,70080,6877
453,69,[75256 56402 571],648518346349537509,301024,225608,22840,7525
454,116,[77180 55980 185],648518346349537641,308720,223920,7400,6557
455,13,[67633 56398 1056],648518346349537516,270532,225592,42240,7514

In [7]:
celltypelookup = pd.merge(celltypes, nucids, on='cell_segid', how='inner')
celltypelookup

,centroid_x,centroid_y,centroid_z,cell_segid,cell_type,cell_subtype,id,pt_position,soma_x_nm,soma_y_nm,soma_z_nm,nuc_id
0,41760,60256,1702,648518346349538237,pyramidal,pyramidal cell,289,[42065 60352 1724],168260,241408,68960,7669
1,98128,39856,218,648518346349536816,pyramidal,pyramidal cell,281,[98028 39919 232],392112,159676,9280,1318
2,51248,50608,86,648518346349539797,pyramidal,pyramidal cell,283,[51691 50574 126],206764,202296,5040,5441
3,104928,72496,1448,648518346349536851,pyramidal,pyramidal cell,236,[104870 72471 1446],419480,289884,57840,11847
4,58128,35616,2059,648518346349522862,pyramidal,pyramidal cell,202,[58210 35590 2059],232840,142360,82360,123
...,...,...,...,...,...,...,...,...,...,...,...,...
480,59680,69104,2113,648518346349530569,glia,astrocyte,413,[59596 69165 2132],238384,276660,85280,11782
481,72704,55888,576,648518346349536717,glia,microglia (merged with nucleus of astrocyte 64...,418,[72779 55950 577],291116,223800,23080,6554
482,72704,55888,576,648518346349536717,glia,microglia (merged with nucleus of astrocyte 64...,420,[72565 54543 492],290260,218172,19680,6553
483,100576,42592,739,648518346349538793,glia,OPC,373,[100487 42666 727],401948,170664,29080,3670
484,78624,74816,1746,648518346349525488,glia,oligodendrocyte,412,[78612 74702 1749],314448,298808,69960,13935

In [8]:
# number of unique cellids
len(celltypelookup.cell_segid.unique())

433

In [9]:
# cases where multple cells share the same cellid
celltypelookup.cell_segid.value_counts()

648518346349526102    50
648518346349536717     2
648518346349525545     2
648518346349525715     2
648518346349538237     1
                      ..
648518346349523667     1
648518346349534614     1
648518346349537717     1
648518346349538421     1
648518346349525488     1
Name: cell_segid, Length: 433, dtype: int64

In [10]:
celltypelookup['cell_subtype'].value_counts()

pyramidal cell                                                     364
endothelial                                                         48
astrocyte                                                           16
unknown_type                                                        13
bipolar                                                             12
OPC                                                                  8
microglia                                                            8
basket                                                               4
chandelier                                                           2
oligodendrocyte                                                      2
microglia (merged with nucleus of astrocyte 648518346349536799)      2
neurogliaform                                                        1
OPC (pericyte type)                                                  1
pericyte                                                             1
martinotti                                                           1
unknown (at edge of volume)                                          1
microglia (perivascular)                                             1
Name: cell_subtype, dtype: int64

In [11]:
# enter a cell id of interest
# e.g., use the copy function in neuroglancer in the cell segmentation panel

lookup = 648518346349530724

In [12]:
query = celltypelookup["cell_segid"] == lookup
querydf = celltypelookup.loc[query, ["cell_segid", "cell_type", "cell_subtype"]]
querydf

             cell_segid cell_type cell_subtype
454  648518346349530724      glia    microglia

In [13]:
querydf = celltypelookup.loc[query]
querydf

,centroid_x,centroid_y,centroid_z,cell_segid,cell_type,cell_subtype,id,pt_position,soma_x_nm,soma_y_nm,soma_z_nm,nuc_id
454,61104,39920,873,648518346349530724,glia,microglia,396,[61133 39988 855],244532,159952,34200,642

# Reveal in Neuroglancer

In [14]:
baseURL = 'https://neuromancer-seung-import.appspot.com/'
nglink_a = '#!%7B%22layers%22:%5B%7B%22source%22:%22precomputed://gs://microns_public_datasets/pinky100_v0/son_of_alignment_v15_rechunked%22%2C%22type%22:%22image%22%2C%22blend%22:%22default%22%2C%22shaderControls%22:%7B%7D%2C%22name%22:%22EM%22%7D%2C%7B%22source%22:%22precomputed://gs://microns_public_datasets/pinky100_v185/seg%22%2C%22type%22:%22segmentation%22%2C%22selectedAlpha%22:0.51%2C%22segments%22:%5B%22'
nglink_b = '%22%5D%2C%22skeletonRendering%22:%7B%22mode2d%22:%22lines_and_points%22%2C%22mode3d%22:%22lines%22%7D%2C%22name%22:%22cell_segmentation_v185%22%7D%2C%7B%22source%22:%22precomputed://https://tigerdata.princeton.edu/sseung-archive/pinky100-clefts/mip1_d2_1175k%22%2C%22type%22:%22segmentation%22%2C%22skeletonRendering%22:%7B%22mode2d%22:%22lines_and_points%22%2C%22mode3d%22:%22lines%22%7D%2C%22name%22:%22synapses%22%7D%2C%7B%22source%22:%22precomputed://https://tigerdata.princeton.edu/sseung-archive/pinky100-mito/seg_191220%22%2C%22type%22:%22segmentation%22%2C%22skeletonRendering%22:%7B%22mode2d%22:%22lines_and_points%22%2C%22mode3d%22:%22lines%22%7D%2C%22name%22:%22mitochondria%22%7D%2C%7B%22source%22:%22precomputed://https://tigerdata.princeton.edu/sseung-archive/pinky100-nuclei/seg%22%2C%22type%22:%22segmentation%22%2C%22skeletonRendering%22:%7B%22mode2d%22:%22lines_and_points%22%2C%22mode3d%22:%22lines%22%7D%2C%22name%22:%22nuclei%22%7D%5D%2C%22navigation%22:%7B%22pose%22:%7B%22position%22:%7B%22voxelSize%22:%5B4%2C4%2C40%5D%2C%22voxelCoordinates%22:%5B'
nglink_c = '%5D%7D%7D%2C%22zoomFactor%22:383.0066650796121%7D%2C%22perspectiveOrientation%22:%5B-0.00825042650103569%2C0.06130112707614899%2C-0.0012821174459531903%2C0.9980843663215637%5D%2C%22perspectiveZoom%22:3618.7659948513424%2C%22showSlices%22:false%2C%22selectedLayer%22:%7B%22layer%22:%22cell_segmentation_v185%22%2C%22visible%22:true%7D%2C%22layout%22:%7B%22type%22:%223d%22%2C%22orthographicProjection%22:true%7D%7D'
neuroglancerURL = baseURL + nglink_a + str(lookup) + nglink_b + str(querydf.centroid_x.iloc[0]) +'%2C' + str(querydf.centroid_y.iloc[0]) + '%2C' + str(querydf.centroid_z.iloc[0]) + nglink_c

In [15]:
print(neuroglancerURL)

https://neuromancer-seung-import.appspot.com/#!%7B%22layers%22:%5B%7B%22source%22:%22precomputed://gs://microns_public_datasets/pinky100_v0/son_of_alignment_v15_rechunked%22%2C%22type%22:%22image%22%2C%22blend%22:%22default%22%2C%22shaderControls%22:%7B%7D%2C%22name%22:%22EM%22%7D%2C%7B%22source%22:%22precomputed://gs://microns_public_datasets/pinky100_v185/seg%22%2C%22type%22:%22segmentation%22%2C%22selectedAlpha%22:0.51%2C%22segments%22:%5B%22648518346349530724%22%5D%2C%22skeletonRendering%22:%7B%22mode2d%22:%22lines_and_points%22%2C%22mode3d%22:%22lines%22%7D%2C%22name%22:%22cell_segmentation_v185%22%7D%2C%7B%22source%22:%22precomputed://https://tigerdata.princeton.edu/sseung-archive/pinky100-clefts/mip1_d2_1175k%22%2C%22type%22:%22segmentation%22%2C%22skeletonRendering%22:%7B%22mode2d%22:%22lines_and_points%22%2C%22mode3d%22:%22lines%22%7D%2C%22name%22:%22synapses%22%7D%2C%7B%22source%22:%22precomputed://https://tigerdata.princeton.edu/sseung-archive/pinky100-mito/seg_191220%22%2C%22type%22:%22segmentation%22%2C%22skeletonRendering%22:%7B%22mode2d%22:%22lines_and_points%22%2C%22mode3d%22:%22lines%22%7D%2C%22name%22:%22mitochondria%22%7D%2C%7B%22source%22:%22precomputed://https://tigerdata.princeton.edu/sseung-archive/pinky100-nuclei/seg%22%2C%22type%22:%22segmentation%22%2C%22skeletonRendering%22:%7B%22mode2d%22:%22lines_and_points%22%2C%22mode3d%22:%22lines%22%7D%2C%22name%22:%22nuclei%22%7D%5D%2C%22navigation%22:%7B%22pose%22:%7B%22position%22:%7B%22voxelSize%22:%5B4%2C4%2C40%5D%2C%22voxelCoordinates%22:%5B61104%2C39920%2C873%5D%7D%7D%2C%22zoomFactor%22:383.0066650796121%7D%2C%22perspectiveOrientation%22:%5B-0.00825042650103569%2C0.06130112707614899%2C-0.0012821174459531903%2C0.9980843663215637%5D%2C%22perspectiveZoom%22:3618.7659948513424%2C%22showSlices%22:false%2C%22selectedLayer%22:%7B%22layer%22:%22cell_segmentation_v185%22%2C%22visible%22:true%7D%2C%22layout%22:%7B%22type%22:%223d%22%2C%22orthographicProjection%22:true%7D%7D